<div class="app-container">
  <header>
    <h1 style="padding-right: 900px; padding-left: 25px">Ticket Booking System</h1>
    <nav>
      <ul>
        <li><a (click)="openLoginDialog()">Log-in</a></li>
        <li><a (click)="openSignupDialog()">Sign-up</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <li><a routerLink="/ticket-pool" routerLinkActive="active">ticket-pool</a></li>
    <li><a routerLink="/vendor" routerLinkActive="active">vendor</a></li>
    <router-outlet></router-outlet>

  </main>

  <footer>
    <p>&copy; 2024 Ticket Booking System. All rights reserved.</p>
  </footer>
</div>
